<script type="text/template" id="calendarView">
    <div id="calendar"></div>

    <div id="bookingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="bookingModalLabel">Booking</h3>
        </div>
        <form id="manageBooking" class="form-horizontal" action="/" method="post">
            <div class="modal-body">
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="Title">Title</label>
                        <div class="controls">
                            <input type="hidden" name="Id" id="Id" value="0" />
                            <input type="text" class="input-large" req="true" id="Title" valsection="main" name="Title" />
                            <p class="help-block">Title of the Booking</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="StartDate">Event Date</label>
                        <div class="controls">
                            <input type="text" class="input-large datetime" req="true" valsection="main" id="StartDate" name="StartDate" />
                            <p class="help-block">Event Date</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="EndDate">Event End Date</label>
                        <div class="controls">
                            <input type="text" class="input-large datetime" req="true" valsection="main" id="EndDate" name="EndDate" />
                            <p class="help-block">Event End Date</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="Reccursive">Recursive Booking</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" id="Reccursive" name="Reccursive" value="true" />Recursive
                            </label>
                            <p class="help-block">Check if the Booking is Reccursive</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="ReccursiveType">Reccursive Type</label>
                        <div class="controls">
                            <select id="ReccursiveType" name="ReccursiveType" req="true" valsection="main">
                                <option value="0">--Reccursive Type--</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Yearly">Yearly</option>
                            </select>
                            <p class="help-block">Type of Recursion</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="Attendees">Attendees</label>
                        <div class="controls">
                            <textarea class="input-large" req="true" valsection="main" id="Attendees" name="Attendees"></textarea>
                            <p class="help-block">Attendees of the booking</p>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="BookedFor">Booked For</label>
                        <div class="controls">
                            <input type="text" class="input-large" req="true" valsection="main" id="BookedFor" name="BookedFor" />
                            <p class="help-block">Agenda of Booking</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
    </div>
</script>
